.footer {
    color: var(--color-primary);
    padding: 8px 0;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    gap:2rem;
    font-size: .9rem;

  }
  
  .footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    
    
  }
  
  .footer-logo img {
    width:100px;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-links ul li a {
    color: var(--color-primary);

    text-decoration: none;
    font-size: .9rem;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-contact {
    flex: 1;
    text-align: center;
    p:first-of-type{
    }
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
  }


  @media (max-width: 576px) {
    .footer-inner {
      flex-direction: column; /* Coloca los elementos en columna en pantallas pequeñas */
      text-align: center;
    }
  
    .footer-links ul li {
      display: block;
      margin: 10px 0;
    }
    }