html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
; /* Ajusta los colores a tu estilo */
.footer {
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Esto asegura que el footer esté al final */
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 100px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 0.9em;
}
