$form-background: #ffffff;
$form-border: #cccccc;
$form-shadow: rgba(0, 0, 0, 0.1);
$primary-color: #007bff;
$secondary-color: #6c757d;
$input-padding: 0.75rem;

.form-h3{
  color: white;
  margin: 1rem;
}
.formulario {
  background-color: $form-background;
  border: 1px solid $form-border;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px $form-shadow;
  width: 80%;
  margin: 0 auto;
  font-size: .8rem;

  h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    
  }

  div {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input[type="text"],
    input[type="checkbox"] {
      width: 100%;
      padding: $input-padding;
      border: 1px solid $form-border;
      border-radius: 4px;
      box-sizing: border-box;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    input[type="checkbox"] {
      width: auto;
      margin-left: 0.5rem;
    }
  }
  

  button {
    background-color: $primary-color;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: $input-padding 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:last-of-type {
      background-color: $secondary-color;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    padding: 1rem;
    h3 {
      font-size: 1.25rem;
    }

    div {
      margin-bottom: 0.75rem;
    }

    input[type="text"],
    input[type="checkbox"] {
      padding: 0.5rem;
    }

    button {
      width: 100%;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    padding: 0.75rem;

    h3 {
      font-size: 1rem;
    }

    input[type="text"],
    input[type="checkbox"] {
      padding: 0.5rem;
    }

    button {
      width: 100%;
      padding: 0.6rem;
      font-size: 0.8rem;
    }
  }
}