$form-background: #ffffff;
$form-border: #cccccc;
$form-shadow: rgba(0, 0, 0, 0.1);
$primary-color: #007bff;
$secondary-color: #6c757d;
$input-padding: 0.75rem;

table.tabla-alta {
  border-collapse: collapse;
  width: 80%;
  margin: 1rem auto;
  border: 1px solid $form-border;
  box-shadow: 0 2px 4px $form-shadow;
  background-color: $form-background;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
  }

  th {
    background-color: $form-background;
  }

  .img-row {
    width: 50px;
    height: auto;
  }

  button {
    background-color: $primary-color;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    padding: $input-padding 1.5rem;
    cursor: pointer;
    color: black;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:last-of-type {
      background-color: $secondary-color;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}

@media (max-width: 768px) {
  table.tabla-alta {
    display: block;
    width: 90%;
  }

  thead {
    display: none;
  }

  tbody,
  tr {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  td {
    display: block;
    text-align: right;
    position: relative;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    white-space: normal;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 10px;
    font-weight: bold;
    background: #f2f2f2;
  }
}
